:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border-bottom: 1px solid black;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-top: 1px solid black;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  background-color: #ccdfff;
  display: flex;
  justify-content: center;
}

nav a {
  padding: 10px;
}

nav a:hover,
nav a.active {
  background-color: #a3b8dc;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
